absl-py==0.7.0
astor==0.7.1
boto==2.49.0
boto3==1.9.86
botocore==1.12.86
bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
docutils==0.14
gast==0.2.2
gensim==3.7.1
grpcio==1.18.0
h5py==2.9.0
idna==2.8
jmespath==0.9.3
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.8
Keras==2.2.4
keras-bert==0.29.0
keras-embed-sim==0.2.0
keras-layer-normalization==0.9.0
keras-multi-head==0.15.0
keras-pos-embd==0.7.0
keras-position-wise-feed-forward==0.3.0
keras-self-attention==0.33.0
keras-transformer==0.17.0
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.2
nltk==3.4
numpy==1.16.1
pandas==0.24.0
Pillow==5.4.1
protobuf==3.6.1
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
pyyaml==3.13
requests==2.21.0
s3transfer==0.1.13
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
singledispatch==3.4.0.3
six==1.12.0
smart-open==1.8.0
tensorboard==1.12.2
tensorflow-gpu==2.5.3
tensorflow-hub==0.2.0
termcolor==1.1.0
Theano==1.0.4
torch==1.0.0
torchvision==0.2.1
urllib3==1.24.1
Werkzeug==0.14.1
yandex-translater==6.0